[run]
source = 
    streamz
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    */test_*.py

exclude_lines =
    if __name__ == '__main__':
    pragma: no cover
