*.pyc
*.egg-info
docs/build
build/
dist/
.idea/
log.*
log
.coverage
.DS_Store
*.swp
*.swo
.cache/
.ipynb_checkpoints/
.vscode
# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
